<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <security-role>
        <role-name>Membros</role-name>
    </security-role>
    <security-constraint>
       <!-- <web-resource-collection>
            <web-resource-name>CP Autenticacao</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>-->
        <auth-constraint>
            <role-name>Membros</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login-redirect.jsp</form-login-page>
            <form-error-page>/login-redirect.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <context-param>
        <param-name>db_user</param-name>
        <param-value>croqui</param-value>
    </context-param>
    <context-param>
        <param-name>db_password</param-name>
        <param-value>croqui</param-value>
    </context-param>
    <context-param>
        <param-name>db_url</param-name>
        <param-value>jdbc:oracle:thin:@s324-prodabel:1521:GEODSV1</param-value>
    </context-param>
    <context-param>
        <param-name>table_aplic_geo</param-name>
        <param-value>croqui.aplicacoes_geo</param-value>
    </context-param>
    <context-param>
        <param-name>table_usuarios_geo</param-name>
        <param-value>croqui.usuarios_geo</param-value>
    </context-param>
    <context-param>
        <param-name>table_usuarios_aplic_geo</param-name>
        <param-value>croqui.usuarios_aplic_geo</param-value>
    </context-param>
    <context-param>
        <param-name>table_edificacao</param-name>
        <param-value>croqui.EDIFICACAO</param-value>
    </context-param>
    <context-param>
        <param-name>table_lote_ctm</param-name>
        <param-value>croqui.LOTE_CTM</param-value>
    </context-param>
    <context-param>
        <param-name>table_iptu_ctm_geo</param-name>
        <param-value>tributario.iptu_ctm_geo</param-value>
    </context-param>
    <context-param>
        <param-name>table_quadra_ctm</param-name>
        <param-value>croqui.quadra_ctm</param-value>
    </context-param>
    <context-param>
        <param-name>table_trecho</param-name>
        <param-value>croqui.trecho</param-value>
    </context-param>
    <context-param>
        <param-name>table_bairro_popular</param-name>
        <param-value>cadastro_tecnico.bairro_popular</param-value>
    </context-param>
    <context-param>
        <description>Local usado pelo sistema para armazenar as imagens</description>
        <param-name>output_path</param-name>
        <!--<param-value>/home/GEO_WEB/webapps/Croqui_Planimetrico/output/</param-value>-->
        <!--<param-value>C:\Users\PBH\Documents\giovanne\Croqui Planimetrico\build\web\output\</param-value>-->
        <param-value>output</param-value>
    </context-param>
    <listener>
        <listener-class>controle.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletControle</servlet-name>
        <servlet-class>controle.ServletControle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletControle</servlet-name>
        <url-pattern>/ServletControle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>lotes.jsp</welcome-file>
    </welcome-file-list>
</web-app>
