body, table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
 
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000033;
	background-color: #FFFFFF;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: 5px;
	cursor: hand;
}
 
.menu-sel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000033;
	
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	padding: 5px;
	cursor: hand;
}
 
.tb-conteudo {
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
 
.conteudo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000033;
	
	padding: 5px;
	width: 760px;
	height: 120px;
}